<mat-toolbar class="barra">
        <mat-toolbar-row>
          <span>Restaurante Ken</span>
          <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon mat-button>reorder</mat-icon>
          </button>
          <button>Cerrar Sesión</button>
          <app-notificacion></app-notificacion>
        </mat-toolbar-row>
        
      
      </mat-toolbar>
      <!-- -----------------------------------------Side bar-->
      <mat-drawer-container class="sideleft" autosize>
       
      
          
          <mat-drawer #drawer class="left" mode="side">
             <div class="perfil">
                <h2>Fernando</h2>
             </div>
             <!--------------------------Pedidos-->
              <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header  class="acordeon">
                        <mat-panel-title>
                          Pedidos
                        </mat-panel-title>
                        
                      </mat-expansion-panel-header>
                      <div  class="menu">
                          <a [routerLink]="['pedidos/mesas']">Mesas</a>
                          <a [routerLink]="['pedidos/pedido']">Pedido</a>
                          <a [routerLink]="['pedidos/tabla']">Tabla Pedidos</a>
                        
                       </div>
                </mat-expansion-panel>
              </mat-accordion>
              <!--------------------------Usuarios-->
              <mat-accordion >
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="acordeon"> 
                      <mat-panel-title>
                          Usuarios
                        </mat-panel-title>
                  </mat-expansion-panel-header>
                 
                    <div  class="menu">
                        <a [routerLink]="['usuarios/persona']">Personas</a>
                    
                          
                         </div>
                </mat-expansion-panel>
              </mat-accordion>
          
          <!--------------------------Reservas-->
          <mat-accordion >
              <mat-expansion-panel>
                <mat-expansion-panel-header class="acordeon">
                    <mat-panel-title>
                       Reservas
                      </mat-panel-title>
                </mat-expansion-panel-header>
               
                  <div  class="menu">
                      <a [routerLink]="['reservas/crearReserva']">Nueva Reserva</a>
                      <a [routerLink]="['reservas/listarReserva']">Disponibles</a>
                      <a [routerLink]="['reservas/tabla']">Tabla Reservas</a>
                       </div>
              </mat-expansion-panel>
            </mat-accordion>
             <!--------------------------Productos-->
             <mat-accordion >
              <mat-expansion-panel>
                <mat-expansion-panel-header class="acordeon"> 
                    <mat-panel-title>
                        Productos
                      </mat-panel-title>
                </mat-expansion-panel-header>
               
                  <div  class="menu">
                      <a [routerLink]="['productos/bebidas']">Bebidas</a>
                      <a [routerLink]="['productos/platos']">Platos</a>
                    
                        
                       </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-drawer>
          <main>
              <router-outlet></router-outlet>
      
            </main>
             
         
        
        <!------------------------------------------------------->
        </mat-drawer-container>
      
      