<div class="form-header"> 
    <button mat-button color="warn" (click)="onClose()">
        X
       </button>
</div>
<h2>{{titulo}}</h2>
      <form class="example-form form-persona" #form="ngForm" [formGroup]="_personaService.form" (submit)="onSubmit(form)" autocomplete="off">
        <div class="name-form">
          <mat-form-field class="example-full-width">
            <input required matInput
             name="nombre"
                formControlName="nombre"
            placeholder="Nombre">
            <mat-error *ngIf="_personaService.form.controls['nombre'].errors?.required">Campo obligatorio</mat-error>

          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <input matInput
            name="apellido"
            formControlName="apellido"
             placeholder="Apellido">
             <mat-error *ngIf="_personaService.form.controls['apellido'].errors?.required">Campo obligatorio</mat-error>

          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="this.data==1">
            <input matInput
            name="nit"
                formControlName="nit"
             placeholder="Nit">
             <mat-error *ngIf="_personaService.form.controls['nit'].errors?.required">Campo obligatorio</mat-error>

          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="this.data==2">
            <input matInput
            name="foto"
                formControlName="foto"
             placeholder="Foto">
             <mat-error *ngIf="_personaService.form.controls['foto'].errors?.required">Campo obligatorio</mat-error>

          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="this.data==3">
            <input matInput
            name="descripcion"
                formControlName="descripcion"
             placeholder="Descripción">
             <mat-error *ngIf="_personaService.form.controls['descripcion'].errors?.required">Campo obligatorio</mat-error>

          </mat-form-field>
        </div>
      
        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" 
          name="edad"
          formControlName="edad"
          placeholder="Edad">
          <mat-error *ngIf="_personaService.form.controls['edad'].errors?.required">Campo obligatorio</mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <span matPrefix>+659 &nbsp;</span>
          <input matInput
          name="telefono"
                formControlName="telefono"
          placeholder="Telefono">
          <mat-error *ngIf="_personaService.form.controls['telefono'].errors?.required">Campo obligatorio</mat-error>
          <mat-error *ngIf="_personaService.form.controls['telefono'].errors?.minlength">Error de formato</mat-error>
          <mat-error *ngIf="_personaService.form.controls['telefono'].errors?.maxlength">Error de formato</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Direccion"
          name="direccion"
          formControlName="direccion"
          ></textarea>
          <mat-error *ngIf="_personaService.form.controls['direccion'].errors?.required">Campo obligatorio</mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width" hintLabel="Máximo 10 caracteres">
          <input #input maxlength="10" matInput placeholder="Carnet" 
          name="carnet"
          formControlName="carnet">
           <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
     
     
        <button mat-raised-button color="primary" 
        [disabled]="form.invalid"
        type="submit">Agregar</button>
      
      
      </form>