
        <mat-grid-list cols="4" rowHeight="270px">
                <mat-grid-tile *ngFor="let mesa of mesas">
                        <div >
                                <mat-card  class="card">
                                    <div [style.background]="mesa.estado=='A'?'00CF84':'#C30000'" class="title">
                                            <h3>{{mesa.nombre}}</h3>
                                    </div>
                                    <div *ngIf="mesa.estado=='A'"  class="button-container">
                                        <button class="button-a" (click)="abrirMesa(mesa,false)">Habilitar</button>
                                       <!-- <a class="button-a" [routerLink]="['../nuevo']">Habilitar</a> --> 
                                         
                                    </div>    
                                    <div *ngIf="mesa.estado=='B'"  class="button-container">
                                        <button class="button-a" (click)="abrirFactura(mesa.codigo)">Facturar</button>
                                        <button class="button-a" (click)="abrirMesa(mesa,true)">Editar</button>
                                       <!-- <a class="button-a" [routerLink]="['../nuevo']">Habilitar</a> --> 
                                            
                                    </div>    
                                    
                                 
                                    <span class="name">Fernando mercado saby</span>
                                    <div>
                                        <span>Total</span>
                                        <span>300</span>
                                    </div>
                                    
                                </mat-card>
                            </div>
                </mat-grid-tile> 
    
        </mat-grid-list>


