<table>
      <tr *ngFor="let bebidas of bebidaslist">
          <td  class="td">
            <img src="data:image/gif;base64,{{bebidas.imagen}}" alt="">
            <div>
                <h2>{{bebidas.nombre}}</h2>
                <h3>{{bebidas.precio|currency}}</h3>
            </div>
           
            </td>
            <td><button mat-icon-button (click)="onRest(bebidas)"><mat-icon>remove</mat-icon></button></td>

          <td><button mat-icon-button (click)="onAdd(bebidas)"><mat-icon>add</mat-icon></button></td>
      </tr>
</table>

<p></p>
