    <h2 class="titulo-crear-mesa">Crear mesa</h2>
      <form class="container-bebida" #form="ngForm" (submit)="onSubmit(form)" [formGroup]="_serviceMesa.form" autocomplete="off">
        <div class="name-form">
          <mat-form-field class="example-full-width">
            <input required matInput
              formControlName="nombre"
            placeholder="Nombre">
            <mat-error *ngIf="_serviceMesa.form.controls['nombre'].errors?.required">Campo obligatorio</mat-error>
          </mat-form-field> 
          <mat-radio-group  
           formControlName="estado"
            
             >
                <mat-radio-button  value="A">Desocupada</mat-radio-button>
                <mat-radio-button value="B">Ocupada</mat-radio-button>
              </mat-radio-group>
         
        </div>
      
        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" max="10"
          formControlName="capacidad"
          class="stock"
          placeholder="Capacidad">
          <mat-error *ngIf="_serviceMesa.form.controls['capacidad'].errors?.required">Campo obligatorio</mat-error>
          <mat-error *ngIf="_serviceMesa.form.controls['capacidad'].errors?.min">Número mayor a cero</mat-error>
          <mat-error *ngIf="_serviceMesa.form.controls['capacidad'].errors?.max">Número menor a diez</mat-error>
        </mat-form-field>
      
        <button mat-raised-button color="primary" 
        [disabled]="form.invalid"
        type="submit">Crear</button>
      
      
      </form>
