<h2 class="titulo-crear-mesa">Editar mesa</h2>
<form class="form " #form="ngForm"  [formGroup]="_serviceMesa.form" (submit)="onSubmit(form)" autocomplete="off">
  <div class="name-form">
  
 
    <mat-form-field class="example-full-width">
      <input required matInput
      formControlName="nombre"
      placeholder="Nombre">
    </mat-form-field> 
    
    <mat-radio-group  
    formControlName="estado"
      
       >
          <mat-radio-button value="A">Desocupada</mat-radio-button>
          <mat-radio-button value="B">Ocupada</mat-radio-button>
        </mat-radio-group>
   
  </div>

  <mat-form-field class="example-full-width">
    <input matInput type="number" min="0" max="10"
    formControlName="capacidad"  
    placeholder="Capacidad">
  </mat-form-field>

  <button mat-raised-button color="primary" 
  [disabled]="form.invalid"
  type="submit">Guardar</button>


</form>
