<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Restaurante</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Abrir
          </button>
        </div>
  </mat-toolbar-row>


</mat-toolbar>
<!-- -----------------------------------------Side bar-->
<mat-drawer-container class="example-container sideleft" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div  class="menu">
        <a [routerLink]="['/inicio']">Inicio</a>
        <a [routerLink]="['/pedidos']">Pedidos</a>
        <a [routerLink]="['/usuarios']">Usuarios</a>
       
       
      </div>
   
      
    </mat-drawer>
   
        <router-outlet></router-outlet>
   
  
  <!------------------------------------------------------->
  </mat-drawer-container>
<main>
    

</main>
