<mat-table [dataSource]="listaMesas" class="tabla">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
         
          <mat-cell *matCellDef="let mesa">{{mesa.id}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-header-cell *matCellDef="let mesa"> {{mesa.nombre}} </mat-header-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-header-cell *matCellDef="let mesa"> {{mesa.estado}} </mat-header-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="capacidad">
          <mat-header-cell *matHeaderCellDef> Capacidad </mat-header-cell>
          <mat-header-cell *matCellDef="let mesa"> {{mesa.capacidad}} </mat-header-cell>
        </ng-container>
        <!-- Opciones-->
        <ng-container matColumnDef="Opciones">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.id)">
                        <mat-icon>delete</mat-icon>
            </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>