<div class="container">
    <div class="categorys">
        <button (click)="onDrop('fideos')" >Fideos</button>
        <button (click)="onDrop('sushis')">Sushis</button>
        <button (click)="onDrop('gaseosas')">Gaseosas</button>
        <button (click)="onDrop('refrescos')">Refrescos</button>
        <button (click)="onDrop('sopas')">Sopas</button>
        <button (click)="onDrop('parrilla')">Parilla</button>
    </div>
    <div class="menu">
        <app-tablamenu
         [categoria]="categoria" 
         (producto)="enviarDatos($event)"
       
         ></app-tablamenu>
    </div>
    <div class="caja">
        <app-formpedido [producto]="producto" ></app-formpedido>
    </div>
</div>