.mitad{
    width: 100%;
    display: flex;
height: 100%;
}
.left-c{
    width: 40%;
    background: wheat;
    height: 100%;
}
.right-c{
    width: 60%;
    background: red;
    flex:1;
    height: 100%;
}