.container{
    display: flex;

}
.categorys{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.categorys button{
    padding: 10px;
    background: red;
    margin: 5px;
}
.menu{
    width: 40%;
}
.caja{
    width: 40%;
}