<div class="container-modalmesa">
    <div class="icon-salir">
        <button (click)="onClose()">X</button>
    </div>
    <div class="header-mesa">
            <h2>{{this._serviceMesa.mesaList.nombre}}</h2>
    </div>    
   <div class="body-mesa">
        <h3>Nombre del cliente</h3>
        <input matInput type="text" placeholder="dsa">
        <h3>Nombre del mesero</h3>
        <input matInput type="text">
        <h3>Comentario</h3>
        <textarea name="" id="" cols="30" rows="5"></textarea>
   </div>
   <div class="footer-mesa">
       <button  mat-button mat-dialog-close>
           Cancelar
       </button>
       <a class="button-abrir">Abrir Mesa</a>
   </div>


</div>
