.container-modalmesa{
    width: 100%;
    height: 500px;
}
.header-mesa{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: center;

}
.icon-salir{
    text-align: end;
    

}
.icon-salir button{
    background: #fff;
    font-size: 1.5em;
    border: none;
    outline: none;

}
button:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
.button-abrir{
    border-radius: 3px;
    background: #1AB2AC;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.1em;
    margin-left: 15px;
}
.footer-mesa{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    margin-top: 40px;
}
.row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}